.card3d {
  position: relative;
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  will-change: transform;
}

.card3d:hover {
  z-index: 10;
}

.glare {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: inherit;
  z-index: 1;
}
