.glitchContainer {
  position: relative;
  display: inline-block;
}

.glitchContainer::before,
.glitchContainer::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.glitchContainer::before {
  color: hsl(45, 93%, 47%);
  z-index: -1;
}

.glitchContainer::after {
  color: hsl(200, 100%, 50%);
  z-index: -2;
}

.glitching::before {
  animation: glitch-1 0.2s infinite linear alternate-reverse;
  opacity: 0.8;
}

.glitching::after {
  animation: glitch-2 0.2s infinite linear alternate-reverse;
  opacity: 0.8;
}

@keyframes glitch-1 {
  0% {
    clip-path: inset(20% 0 30% 0);
    transform: translate(-3px, -3px);
  }
  20% {
    clip-path: inset(60% 0 10% 0);
    transform: translate(3px, 2px);
  }
  40% {
    clip-path: inset(40% 0 40% 0);
    transform: translate(-2px, 3px);
  }
  60% {
    clip-path: inset(80% 0 5% 0);
    transform: translate(2px, -2px);
  }
  80% {
    clip-path: inset(10% 0 70% 0);
    transform: translate(-3px, 2px);
  }
  100% {
    clip-path: inset(50% 0 30% 0);
    transform: translate(3px, -3px);
  }
}

@keyframes glitch-2 {
  0% {
    clip-path: inset(50% 0 20% 0);
    transform: translate(3px, 3px);
  }
  20% {
    clip-path: inset(10% 0 60% 0);
    transform: translate(-3px, -2px);
  }
  40% {
    clip-path: inset(30% 0 50% 0);
    transform: translate(2px, -3px);
  }
  60% {
    clip-path: inset(70% 0 15% 0);
    transform: translate(-2px, 2px);
  }
  80% {
    clip-path: inset(25% 0 55% 0);
    transform: translate(3px, -2px);
  }
  100% {
    clip-path: inset(45% 0 35% 0);
    transform: translate(-3px, 3px);
  }
}
